name: Android Debug APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Buildozer Action (uses Buildozer docker image)
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v2
        with:
          workdir: .
          buildozer-cmd: buildozer -v android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
